@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

h1 {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  font-family: "DM Sans", sans-serif;
  font-size: 2.5rem;
  padding: 10px;
}

body {
  background-color: #d2f7ff;
}

main {
  background-color: white;
  border-radius: 4px;
  padding: 50px;
  width: 90%;
  margin: 50px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add-form {
  display: flex;
  margin-bottom: 50px;
  gap: 15px;
  width: 100%;
}

input {
  width: 100%;
  flex: 1;
  padding: 15px;
  border: 1px solid #d4d4d4;
  border-radius: 8px;

  td {
    color: #222;
    font-weight: 600;
  }

  tr:nth-child(even) {
    background-color: #f5f5f5;
  }
  outline: none;
  font-size: 1rem;
  font-weight: 500;
}

button[type="submit"] {
  background-color: #d2f7ff;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 5px;
  color: #000000;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

button:hover {
  background-color: #66e3ff;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  padding: 10px 15px;
  border: 1.5px solid #d4d4d4;
  text-align: center;
}

td {
  color: #222;
  font-weight: 600;
}

tr:nth-child(even) {
  background-color: #f5f5f5;
}

select {
  width: 100%;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-weight: 600;
  text-transform: capitalize;
  background-color: #ebebee;
}

select:hover {
  background-color: #e5e5e5;
}

btn-action {
  border: none;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-action:nth-child(1) {
  background-color: rgb(249, 189, 78);
  color: rgb(70, 70, 70);
  border-color: rgb(70, 70, 70);
  margin-right: 5px;
}

.btn-action:nth-child(1):hover {
  background-color: rgb(255, 166, 0);
}

.btn-action:nth-child(2) {
  background-color: rgb(255, 72, 72);
  color: rgb(70, 70, 70);
  border-color: rgb(70, 70, 70);
  margin-right: 5px;
}

.btn-action:nth-child(2):hover {
  background-color: rgb(255, 0, 0);
}
